:root{
    /*? Color Background */
    --background-principal: #34e89e;
    --background-secundario: #284f77;
    --background-terceario: #5a12ab;
    --background-claro: #f4f4f4;
    /*? Color Titulo  */
    --color-titulo-principal: #0BCBB5;
    --color-subtitulo: #284f77;
    --color-titulo-secundario: #5a12ab;
}

/** Estilos Generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans";
}

body{
    background: var(--background-claro);
}

a{
    text-decoration: none;
}

.contenedor{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.h-80{
    height: 60vh;
}

.titulo{
    font-size: 40px;
    padding: 20px 40px;
    color: var(--color-titulo-principal);
    text-transform: uppercase;
}

.subtitulo{
    font-size: 25px;
    padding: 10px 40px;
    color: var(--color-subtitulo);
}

.titulo-resaltado{
    background: linear-gradient(to right, #5260e1, #470b8a);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.morado{
    color: var(--color-titulo-secundario);
    font-weight: 600;
}

.texto-claro{
    color: #fff;
}

.texto-oscuro{
    color: #000;
}

.centro{
    text-align: center;
}

.fs-30{
    font-size: 30px;
    padding: 20px 40px;
}

.fs-20{
    font-size: 20px;
    padding: 10px 40px;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
}

.btn{
    width: 200px;
    height: 50px;
    border: 3px solid var(--background-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: var(--background-principal);
    font-size: 20px;
    font-weight: 600;
    transition: all .5s;
}

.btn:hover{
    background: var(--background-principal);
    color: #fff;
    scale: 1.1;
}

.btn-oscuro{
    width: 200px;
    height: 50px;
    background: var(--color-titulo-secundario);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    transition: all .5s;
}

.btn-oscuro:hover{
    border: 3px solid var(--background-terceario);
    background: transparent;
    color: var(--color-titulo-secundario);
    transform: scale(1.1);
}

/** Menú de Navegación  */

.menu{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    align-items: center;
    background: var(--background-principal);
    font-weight: 400;
    z-index: 2;
}


.img{
    width: 100px;
    height: 100px;
}

.menu-item{
    color: #000000;
    font-size: 18px;
    transition: all .5s;
    text-transform: uppercase;
    font-weight: 500;
}

.menu-item:hover{
    color: #6e18d1;
    transform: scale(1.2);
}
/** Contenedor */

.header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.header-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1200px;
    margin-bottom: 260px;
    z-index: 1;
}

.header-img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.header-main{
    width: 100%;
    height: 100%;
}

/** Información */
.apoyo{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background-secundario);
}
.icono-lista{
    margin-right: 20px;
}

.apoyo-img{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
    height: 100%;
}

i{
    margin-left: 10px;
}

.item{
    font-size: 20px;
    color: #fff;
}

/** Sección Ayuda  */
.contenedor-ayuda{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.contenedor-perros{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(251, 251, 251)
}

.contenedor-perros-img, .perro{
    width: 350px;
    height: 200px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.perro{
    background: url(img/header.jpg);
    background-position: center;
    background-size: cover;
}

.ayudar{
    background: url(img/ayudar.png);
    background-position: center;
    background-size: cover;
}


.adoptar{
    background: url(img/adopcion.jpeg);
    background-position: center;
    background-size: cover;
}

/*? Mision / Vision */
.contenedor-mision{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.mision{
    width: 50%;
    height: 100%;
    background: var(--background-secundario);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.vision{
    width: 50%;
    height: 100%;
    background: var(--background-principal);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.vision h1{
    color: var(--background-secundario);
}

/*? Diferencia  */
.contenedor-dif{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diferencia{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.diferencia-img{
    width: 400px;
    height: 400px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.diferencia-perro{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/*? Contactanos  */
.form{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #f4f4f4;
}


.formulario{
    width: 60vw;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

legend{
    width: 100%;
    height: 100%;
    background: var(--background-secundario);
    color: #fff;
}

.legend{
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.campo{
    width: 100%;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label{
    width: 100px;
    font-size: 20px;
    font-weight: 300;
}

.input{
    width: 30%;
    height: 35px;
    margin: 10px;
    border: 1px solid #000;
    padding: 10px;
    resize: none;
}

.textarea{
    width: 30%;
    margin: 10px;
    border: 1px solid #000;
    padding: 10px;
    resize: none;
}

/** Footer  */
.footer{
    width: 100%;
    height: 100px;
    background: #1e1e1e;
}

.footer-iconos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-item{
    color: #fff;
    font-size: 35px;
    margin-top: 20px;
    transition: all .5s;
}

.fa:hover{
    transform: scale(1.3);
    color: #17A9FD;
}

.inst:hover{
    transform: scale(1.3);
    color: #5B51D8;
}

.tww:hover{
    transform: scale(1.3);
    color: #1DA1F2;
}

.you:hover{
    transform: scale(1.3);
    color: #FF0000;
}

/** Nosotros header  */
.contenedor-nosotros{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.nosotros-header{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nosotros-img{
    width: 100%;
    height: 100%;
    background: url(img/nosotros.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nosotros-header .titulo{
    position: absolute;
    color: #fff;
    font-weight: 600;
}

/*? Sobre Nosotros - Historia */
.contenedor-historia{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.historia-texto{
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background-secundario);
}

.historia-texto .subtitulo{
    color: #fff;
}

.historia-img{
    width: 50%;
    height: 50vh;
    background: url(img/historia.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*? Staff */

.staff{
    background: #0BCBB5;
}

.staff .titulo{
    color: var(--background-secundario);
}

.icono{
    color: #fff;
    margin-right: 20px;
}

.staff-img{
    width: 50%;
    height: 50vh;
    background: url(img/staff.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

/*? Valores  */
.valores{
    background: url(img/valores.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/*? Problemas que nos enfrentamos */
.problemas-contenedor{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.problemas-texto{
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.problemas-img{
    width: 600px;
    height: 600px;
    background: url(img/problemas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.icono-problema{
    font-size: 30px;
    margin-right: 10px;
    color: var(--background-principal);
}

.lista-problema{
    margin-bottom: 20px;
}

/*? Contenedor Separador */
.contenedor-separador{
    width: 100%;
    height: 60vh;
    background: url(img/staff.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*? Que es lo que hacemos  */
.hacemos-img{
    width: 600px;
    height: 600px;
    background: url(img/hacemos.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    margin-right: 20px;
}

.icono-hacemos{
    font-size: 30px;
    margin-right: 10px;
    color: var(--color-subtitulo);
}

/** Ayudar  */
.ayudar-contenedor{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-subtitulo);
}

.ayudar-texto{
    width: 40%;
}

.ayudar-texto .subtitulo{
    color: #fff;
    font-size: 25px;
}

.ayudar-img{
    width: 30%;
    height: 100%;
    background: url(img/ayudar02.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 20px;
}

.ayudar-botones{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}