:root{
    /*? Color Background */
    --background-principal: #34e89e;
    --background-secundario: #284f77;
    --background-terceario: #5a12ab;
    --background-claro: #f4f4f4;
    /*? Color Titulo  */
    --color-titulo-principal: #0BCBB5;
    --color-subtitulo: #284f77;
    --color-titulo-secundario: #5a12ab;
}

/** Estilos Generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans";
}

body{
    background: var(--background-claro);
}

a{
    text-decoration: none;
}

.contenedor{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.h-80{
    height: 60vh;
}

.titulo{
    font-size: 40px;
    padding: 20px 40px;
    color: var(--color-titulo-principal);
    text-transform: uppercase;
}

.subtitulo{
    font-size: 25px;
    padding: 10px 40px;
    color: var(--color-subtitulo);
}

.titulo-resaltado{
    background: linear-gradient(to right, #5260e1, #470b8a);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.morado{
    color: var(--color-titulo-secundario);
    font-weight: 600;
}

.texto-claro{
    color: #fff;
}

.texto-oscuro{
    color: #000;
}

.centro{
    text-align: center;
}

.fs-30{
    font-size: 30px;
    padding: 20px 40px;
}

.fs-20{
    font-size: 20px;
    padding: 10px 40px;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
}

.btn{
    width: 200px;
    height: 50px;
    border: 3px solid var(--background-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: var(--background-principal);
    font-size: 20px;
    font-weight: 600;
    transition: all .5s;
}

.btn:hover{
    background: var(--background-principal);
    color: #fff;
    scale: 1.1;
}

.btn-largo{
    width: 400px;
    height: 50px;
    border: 3px solid var(--background-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: var(--background-principal);
    font-size: 20px;
    font-weight: 600;
    transition: all .5s;
}

.btn-largo:hover{
    background: var(--background-principal);
    color: #fff;
    scale: 1.1;
}


.btn-oscuro{
    width: 200px;
    height: 50px;
    background: var(--color-titulo-secundario);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    transition: all .5s;
}

.btn-oscuro:hover{
    border: 3px solid var(--background-terceario);
    background: transparent;
    color: var(--color-titulo-secundario);
    transform: scale(1.1);
}

/** Footer  */
.footer{
    width: 100%;
    height: 100px;
    background: #1e1e1e;
}

.footer-iconos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-item{
    color: #fff;
    font-size: 35px;
    margin-top: 20px;
    transition: all .5s;
}

.fa:hover{
    transform: scale(1.3);
    color: #17A9FD;
}

.inst:hover{
    transform: scale(1.3);
    color: #5B51D8;
}

.tww:hover{
    transform: scale(1.3);
    color: #1DA1F2;
}

.you:hover{
    transform: scale(1.3);
    color: #FF0000;
}

/** Menú de Navegación  */

.menu{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    align-items: center;
    background: var(--background-principal);
    font-weight: 400;
    z-index: 2;
}


.img{
    width: 100px;
    height: 100px;
}

.menu-item{
    color: #000000;
    font-size: 18px;
    transition: all .5s;
    text-transform: uppercase;
    font-weight: 500;
}

.menu-item:hover{
    color: #6e18d1;
    transform: scale(1.2);
}
/** Contenedor */

.header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.header-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1200px;
    margin-bottom: 260px;
    z-index: 1;
}

.header-img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.header-main{
    width: 100%;
    height: 100%;
}

/** Información */
.apoyo{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background-secundario);
}
.icono-lista{
    margin-right: 20px;
}

.apoyo-img{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
    height: 100%;
}

i{
    margin-left: 10px;
}

.item{
    font-size: 20px;
    color: #fff;
}

/** Sección Ayuda  */
.contenedor-ayuda{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.contenedor-perros{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(251, 251, 251)
}

.contenedor-perros-img, .perro{
    width: 350px;
    height: 200px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.perro{
    background: url(img/header.jpg);
    background-position: center;
    background-size: cover;
}

.ayudar{
    background: url(img/ayudar.png);
    background-position: center;
    background-size: cover;
}


.adoptar{
    background: url(img/adopcion.jpeg);
    background-position: center;
    background-size: cover;
}

/*? Mision / Vision */
.contenedor-mision{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.mision{
    width: 50%;
    height: 100%;
    background: var(--background-secundario);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.vision{
    width: 50%;
    height: 100%;
    background: var(--background-principal);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.vision h1{
    color: var(--background-secundario);
}

/*? Diferencia  */
.contenedor-dif{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diferencia{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.diferencia-img{
    width: 400px;
    height: 400px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.diferencia-perro{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/*? Contactanos  */
.form{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #f4f4f4;
}


.formulario{
    width: 60vw;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

legend{
    width: 100%;
    height: 100%;
    background: var(--background-secundario);
    color: #fff;
}

.legend{
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.campo{
    width: 100%;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label{
    width: 100px;
    font-size: 20px;
    font-weight: 300;
}

.input{
    width: 30%;
    height: 35px;
    margin: 10px;
    border: 1px solid #000;
    padding: 10px;
    resize: none;
}

.textarea{
    width: 30%;
    margin: 10px;
    border: 1px solid #000;
    padding: 10px;
    resize: none;
}

/** Nosotros header  */
.contenedor-nosotros{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.nosotros-header{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nosotros-img{
    width: 100%;
    height: 100%;
    background: url(img/nosotros.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nosotros-header .titulo{
    position: absolute;
    color: #fff;
    font-weight: 600;
}

/*? Sobre Nosotros - Historia */
.contenedor-historia{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.historia-texto{
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background-secundario);
}

.historia-texto .subtitulo{
    color: #fff;
}

.historia-img{
    width: 50%;
    height: 50vh;
    background: url(img/historia.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*? Staff */

.staff{
    background: #0BCBB5;
}

.staff .titulo{
    color: var(--background-secundario);
}

.icono{
    color: #fff;
    margin-right: 20px;
}

.staff-img{
    width: 50%;
    height: 50vh;
    background: url(img/staff.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

/*? Valores  */
.valores{
    background: url(img/valores.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/*? Problemas que nos enfrentamos */
.problemas-contenedor{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.problemas-texto{
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.problemas-img{
    width: 600px;
    height: 600px;
    background: url(img/problemas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.icono-problema{
    font-size: 30px;
    margin-right: 10px;
    color: var(--background-principal);
}

.lista-problema{
    margin-bottom: 20px;
}

/*? Contenedor Separador */
.contenedor-separador{
    width: 100%;
    height: 60vh;
    background: url(img/staff.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*? Que es lo que hacemos  */
.hacemos-img{
    width: 600px;
    height: 600px;
    background: url(img/hacemos.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    margin-right: 20px;
}

.icono-hacemos{
    font-size: 30px;
    margin-right: 10px;
    color: var(--color-subtitulo);
}

/** Ayudar  */
.ayudar-contenedor{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-subtitulo);
}

.ayudar-texto{
    width: 40%;
}

.ayudar-texto .subtitulo{
    color: #fff;
    font-size: 25px;
}

.ayudar-img{
    width: 30%;
    height: 100%;
    background: url(img/ayudar02.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 20px;
}

.ayudar-botones{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/*? Adopción */
.contenedor-adopcion{
    width: 100%;
    height: 50vh;
    background: url(img/adopcion.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/** Porqué es importante adoptar  */
.contenedor-adoptar{
    width: 100%;
    height: 80vh;
    background-color: var(--background-secundario);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.adoptar-texto{
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adoptar-img{
    width: 50%;
    height: 80vh;
}

.adoptar-imagen{
    width: 100%;
    height: 100%;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    padding: 40px;
}

.adopcion{
    margin-top: 50px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10%;
}

.card-adopcion{
    width: 25%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    box-shadow: 0 0 20px 1px #000;
    border-radius: 20px;
}

.img-perro{
    width: 100%;
    height: 35%;
    cursor:pointer;
    transition: all .5s;
    border-radius: 20px 20px 0 0;
}

.adopcion-texto{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex;
}

.paginas{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.paginas-item{
    width: 50px;
    height: 50px;
    background: #d2d2d2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all .5s;
    color: #000;
}

.paginas-item:hover{
    background: #797878;
    color: #fff;
    transform: scale(1.2);
}

/*? DONACIONES  */
.donaciones-header{
    width: 100%;
    height: 50vh;
    background: url(img/donativo-transformed.png), var(--background-secundario);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.donaciones-header .titulo{
    margin-right: 120px;
}

.donacion-contenedor{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-donar{
    width: 30%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formas-donar{
    width: 70%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 30px;
}

.card-donar{
    width: 25%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 50px;
    background: var(--background-secundario);
    border-radius: 20px;
    box-shadow: 0 0 30px 1px #000;
}

.card-donar .subtitulo{
    color: #fff;
}

.img-donar{
    width: 180px;
    height: 180px;
}

/*? ADOPCION  */
.main-adopcion{
    width: 100%;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.w-15{
    width: 15%;
}

.w-50{
    width: 50%;
    height: 50%;
    margin-left: 25px;
}

.w-100{
    width: 100%;
    margin-left: 600px;
}

.w-150{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.seleccion{
    width: 200px;
    padding: 10px;
}

/*? MEDIA QUERYS  */
/*! LAPTOS  */
@media (max-width: 1600px) {
    /** INDEX  */
    .contenedor{
        width: 100%;
        height: 100vh;
    }

    .header{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header .titulo{
        width: 50%;
        font-size: 2.4rem;
        position: absolute;
        top: 7rem;
        left: 0;
    }

    .header .fs-30{
        width: 50%;
        font-size: 1.7rem;
        position: absolute;
        top: 21rem;
        left: 0;
    }

    /** APOYO  */
    .contenedor{
        width: 100%;
        height: 100vh;
    }

    .apoyo {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background: var(--background-secundario);
    }

    .apoyo .titulo {
        font-size: 2.5rem;
        padding: 1rem 2rem;
        color: var(--color-titulo-principal);
        text-transform: uppercase;
    }

    .apoyo .fs-20 {
        font-size: 1.7rem;
        padding:0.5rem 1rem;
    }

    .apoyo-lista{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 18rem;
    }

    .apoyo .item{
        font-size: 1.7rem;
        width: 50%;
        padding-bottom: 0.5rem;
        white-space: nowrap;
    }

    /** AYUDA  */
    .contenedor-ayuda{
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedor-perros{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedor-perros-img{
        width: 20rem;
        height: 14rem;
    }

    .contenedor-ayuda .subtitulo{
        font-size: 1.7rem;
        padding: 0.6rem 2rem;
    }

    .contenedor-ayuda .fs-20 {
        font-size: 1.5rem;
        padding: 0.5rem 2rem;
    }


    /** MISION / VISION  */
    .contenedor-mision{
        width: 100%;
        height: 45vh;
    }

    .contenedor-mision .titulo{
        font-size: 2.1rem;
        padding:.3rem 1rem;
    }

    .contenedor-mision .fs-20{
        font-size: 1.3rem;
        padding: .3rem .6rem;
        height: 100%;
    }

    /** DIFERENCIAL  */
    .contenedor-dif{
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .diferencia{
        width: 70%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .diferencia-img{
        width: 100%;
        height: 100%;
        margin-top: 2.5rem;
    }



    .contenedor-dif .titulo{
        font-size: 2rem;
        padding: 0.5rem 1rem;
        width: 100%;
        white-space: nowrap;
    }

    .contenedor-dif .fs-20{
        width: 100%;
        font-size: 1.2rem;
        padding: .5rem 1rem;
    }

    /** FORM  */
    .form{
        width: 100%;
        height: 100vh;
    }

    .form .titulo {
        font-size: 2.7rem;
        padding: 2rem 2.4rem;
        color: var(--color-titulo-principal);
        text-transform: uppercase;
    }

    .input {
        width: 70%;
        height: 2.5rem;
        margin: 0.8rem;
        border: 1px solid #000;
        padding: 0.9rem;
        resize: none;
    }

    .label {
        width: 6rem;
        font-size: 1.5rem;
        font-weight: 300;
    }

    .textarea {
        width: 70%;
        margin: 1rem;
        border: 1px solid #000;
        padding: 1rem;
        resize: none;
    }


    /*! Nosotros  */
    .nosotros-header .titulo{
        font-size: 5rem;
        white-space: nowrap;
        text-shadow: 1px 1px 10px #000,
                     5px 5px 15px #000,
                     0 0 20px #000;
    }

    .contenedor-historia{
        width: 100%;
        height: 100%;
    }

    .historia-texto .titulo{
        width: 100%;
        text-align: center;
        font-size: 1.8rem;
        padding: 1rem 0;
    }

    .historia-texto .fs-20{
        font-size: 1.1rem;
        padding: .5 1.5rem;
    }

    /** Problemas  */
    .problemas-contenedor{
        width: 100%;
        height: 100vh;
    }

    .problemas.texto{
        width: 50%;
        height: 100%;
    }

    .problemas-texto .titulo{
        width: 100%;
        text-align: center;
        font-size: 2.2rem;
        padding: 1.5rem 2rem;
        white-space: nowrap;
    }

    .problemas-texto .fs-20{
        font-size: 1.1rem;
        padding: 1rem 1.2rem;
    }

    .problemas-img{
        width: 50%;
    }

    /** NUESTROS PERROS / ADOPCION  */
    .contenedor-adopcion{
        width: 100%;
        height: 50vh;
    }

    .contenedor-adoptar{
        width: 100%;
        height: 110vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .adoptar-texto{
        width: 60%;
        height: 100%;
    }

    .adoptar-texto .titulo{
        font-size: 2rem;
        padding: 1rem;
    }

    .adoptar-texto .fs-20{
        font-size: 1.3rem;
        padding: 1.2rem;
    }

    .adoptar-img{
        width: 40%;
        height: 70%;
    }

    .btn-largo{
        width: 80%;
        margin: 1rem;
    }

    .adopcion{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .card-adopcion{
        width: 25%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .img-perro{
        width: 100%;
        height: 100%;
    }

    .card-adopcion .subtitulo{
        font-size: 2rem;
        padding: 0.5rem 1rem;
    }

    .card-adopcion .fs-20{
        font-size: 1.3rem;
        padding: 1rem;
    }

    .btn{
        width: 60%;
        margin-bottom: 1rem;
    }

    /** FOOTER  */
    .footer{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer .fs-20{
        font-size: 1.2rem;
        padding: 1rem;
        margin-right: 5rem;
    }

    .footer .footer-item{
        width: 100%;
        margin: 1rem;
        font-size: 2rem;
    }

}

/*! Tableta */
@media (max-width: 768px){
/**! INDEX  */
    .contenedor{
        width: 100%;
        height: 100vh;
}

    .header{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header .titulo{
        width: 50%;
        font-size: 1.7rem;
        position: absolute;
        top: 10rem;
        left: 0;
    }

    .header .fs-30{
        width: 50%;
        font-size: 1.2rem;
        position: absolute;
        top: 20rem;
        left: 0;
    }

    /** INFORMACIÓN  */
    .contenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .apoyo{
        width: 100%;
        height: 100%;
    }

    .apoyo-img{
        width: 100%;
        height: 70%;
    }

    .apoyo .titulo{
        font-size: 1.7rem;
        padding-top: 2.5rem;
    }

    .apoyo .fs-20{
        font-size: 1.2rem;
        padding: 0.7rem;
    }

    .apoyo-lista{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
    }

    .apoyo .item{
        font-size: 1.2rem;
        width: 50%;
        padding-bottom: 0.5rem;
        white-space: nowrap;
    }

    /**¨AYUDA  */
    .contenedor-ayuda{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedor-ayuda{
        width: 100%;
        height: 200vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .contenedor-perros{
        width: 100%;
        height: 100%;
        margin-top: 5rem;
    }

    .contenedor-perros-img{
        width: 100%;
        height: 100%;
        border-radius: .5rem;
    }

    .perro{
        width: 70%;
        height: 100%;
    }

    .ayudar{
        width: 70%;
        height: 100%;
    }


    .adoptar{
        width: 70%;
        height: 100%;
    }



    .perros{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
    }

    .perros .subtitulo{
        width: 100%;
        font-size: 2.3rem;
        padding: 0.8rem 1.5rem;
    }

    .perros .fs-20 {
        width: 100%;
        height: 100%;
        font-size: 1.5rem;
        padding: 0.8rem 1.5rem;
    }
    /** MISION / VISION  */
    .contenedor-mision{
        width: 100%;
        height:100vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .vision{
        height: 96%;
    }

    .mision{
        height: 96%;
    }

    .contenedor-mision .titulo{
        font-size: 2rem;
        padding: .7rem 1rem;
    }

    .contenedor-mision .fs-20{
        font-size: 1.4rem;
        padding: 1rem;
    }

    /** DIFERENCIA  */
    .contenedor-dif{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .diferencia{
        width: 100%;
        height: 100%;
    }

    .diferencia .titulo{
        padding: 1rem;
        font-size: 1.6rem;
    }

    .diferencia .fs-20{
        font-size: 1.2rem;
        padding: .5rem 2rem;
    }

    .diferencia-img{
        width: 50%;
        height: 50%;
        margin: 0 auto;
    }

    /** FORMULARIO  */
    .form .titulo{
        font-size: 2rem;
        padding: 1rem;
    }

    .label {
        width: 5rem;
        font-size: 1rem;
        font-weight: 300;
    }

    .input {
        width: 50%;
        height: 2.5rem;
        margin: 0.5rem;
        border: 1px solid #000;
        padding: 0.7rem;
        resize: none;
    }

    .textarea {
        width: 50%;
        margin: 0.5rem;
        border: 1px solid #000;
        padding: 0.7rem;
        resize: none;
    }

/*! NOSOTROS  */
    /** HEADER  */
    .nosotros-header .titulo{
        font-size: 2.5rem;
    }

    /** HISTORIA  */
    .contenedor-historia{
        height: 100%;
    }

    .historia-texto{
        width: 80%;
    }

    .historia-texto .fs-20{
        font-size: 1rem;
        padding: 0.8rem 1rem;
    }

    .historia-texto .titulo{
        white-space: nowrap;
        font-size: 1.8rem;
        padding: 0.5rem 0;
    }

    /** PROBLEMAS */
    .problemas-contenedor{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .problemas-texto{
        width: 100%;
        height: 60%;
    }

    .problemas-img{
        width: 90%;
        height: 40%;
        border-radius: 0;
        margin: 2rem 0;
        box-shadow: 0 0 10px 1px #000;
    }

    .problemas-texto .titulo{
        width: 100%;
        font-size: 1.7rem;
        padding: 0.7rem;
        margin: 0.5rem;
        white-space: nowrap;
        text-align: center;
    }

    .problemas-contenedor .fs-20{
        padding: 1rem;
        margin: 0;
        font-size: 1rem;
    }

    .problemas-contenedor i{
        font-size: 1.6rem;
    }

    /** HACEMOS */
    .hacemos-img{
        width: 90%;
        height: 40%;
        border-radius: 0;
        margin: 2rem 0;
        box-shadow: 0 0 10px 1px #000;
    }

    /** AYUDAR  */
    .ayudar-contenedor{
        width: 100%;
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ayudar-texto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 1rem;
        flex-basis: 2;
        width: 50%;
    }

    .ayudar-texto .subtitulo{
        font-size: 1.1rem;
        margin: 1rem;
        padding: 0 0 0 2rem;
    }

    .ayudar-texto .titulo{
        font-size: 1.7rem;
        padding: 0;
        margin: 0 1rem 0 0;
        text-align: center;
    }

    .ayudar-img{
        width: 25%;
        height: 100%;
        padding: 4rem;
        margin: 1rem;
    }

    .ayudar-botones{
        width: 25%;
        margin-right: 2rem;
    }

    .btn{
        width: 100%;
    }

    .btn-oscuro{
        width: 100%;
    }

    /** NUESTROS PERROS / ADOPCIÓN  */
    .contenedor-adopcion{
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedor-adoptar{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        justify-content: center;
    }

    .adoptar-texto{
        width: 100%;
        height: 100%;
    }

    .adoptar-texto .titulo{
        width: 100%;
        font-size: 2rem;
        padding: .5rem;
        text-align: center;
    }

    .adoptar-texto .fs-20{
        font-size: 1.1rem;
        padding: .5rem 1rem;
        height: 60%;
        width: 100%;
    }

    .adoptar-img{
        width: 100%;
        height: 40%;
    }

    .adopcion{
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .card-adopcion{
        width: 40%;
        height: 60%;
    }

    .card-adopcion .subtitulo{
        font-size: 2rem;
        padding: 1rem;
    }

    .card-adopcion .fs-20{
        font-size: 1rem;
        padding: .5rem 1rem;
    }

    .btn{
        width: 60%;
        margin-bottom: 1rem;
    }

    /** FOOTER  */
    .footer{
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer .fs-20{
        width: 35%;
        font-size: 1rem;
        padding: 1rem 0 1rem 1rem;
        margin: 0;
    }

    .footer-iconos{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer i{
        margin: 1rem;
    }

    .footer .footer-item{
        width: 100%;
        font-size: 2rem;
        margin: 0;
        padding: 0;
    }
}


@media (max-width: 550px){
    /*! INDEX  */
    .header{
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .header-texto{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-texto .titulo {
        width: 40%;
        font-size: 1.5rem;
        text-align: center;
        position: absolute;
        left: 0rem;
        top: 10rem;
        white-space: wrap;
        padding: 0 0.5rem;
        margin: 0
    }

    .header-texto .fs-30 {
        width: 50%;
        height: 50%;
        font-size: 1.2rem;
        position: absolute;
        left: 0rem;
        top: 18rem;
        padding: 1rem 1rem;
        margin-top: 1.5rem;
    }

    .header-img{
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: contain;
    }

    /** INFORMACIÓN  */
    .contenedor .h80{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .apoyo{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .apoyo .titulo{
        font-size: 1rem;
        padding: 1rem;
    }

    .apoyo-img{
        width: 50%;
        height: 100%;
    }

    

    /** INFORMACIÓN  */
    .contenedor{
        width: 100%;
        height: 120vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .apoyo{
        width: 100%;
        height: 70%;
    }

    .apoyo .titulo{
        width: 100%;
        font-size: 1.5rem;
        padding: 1.2rem 0;
    }

    .apoyo .fs-20{
        font-size: 1rem;
        padding: 1rem;
    }

    .apoyo-lista{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 17rem;
    }

    .apoyo-lista .item{
        font-size: 1rem;
        width: 50%;
        padding-bottom: 0.5rem;
        white-space: nowrap;
    }

    .apoyo-lista .icono-lista{
        padding-left: 1rem;
    }

    .apoyo-img{
        width: 100%;
        height: 100%;
    }


    /** AYUDA  */
    .contenedor-ayuda{
        width: 100%;
        height: 150vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .contenedor-perros{
        width: 100%;
        height: 100%;
        margin-top: 5rem;
    }


    .perro{
        width: 70%;
        height: 100%;
    }

    .ayudar{
        width: 70%;
        height: 100%;
    }


    .adoptar{
        width: 70%;
        height: 100%;
    }



    .perros{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
    }

    .perros .subtitulo{
        width: 100%;
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
    }

    .perros .fs-20 {
        width: 100%;
        height: 60%;
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }

    /** MISION - VISION  */
    .contenedor-mision{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
    }

    .contenedor-mision .titulo{
        font-size: 2rem;
        padding: 0;
    }

    .contenedor-mision .fs-20{
        font-size: 1.2rem;
        padding: .5rem 1rem;
    }

    .mision{
        width: 100%;
        height: 100%;
    }

    .vision{
        width: 100%;
        height: 100%;
    }

    /** DIFERENCIA  */
    .contenedor-dif{
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .diferencia-perro{
        width: 100%;
        height: 50%;
    }

    .diferencia-img{
        width: 0;
        height: 0;
    }

    .diferencia{
        width: 100%;
        height: 100%;
    }

    .diferencia .titulo{
        width: 100%;
        font-size: 1.3rem;
        padding: 1rem 1.5rem;
    }

    .diferencia .fs-20{
        font-size: 1rem;
        padding: .5rem 1.5rem;
    }

    /** FORM  */
    .form{
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .label {
        width: 100px;
        font-size: 1.4rem;
        font-weight: 300;
    }

    .form .titulo{
        font-size: 2rem;
        padding: 1rem;
    }

    .formulario{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .formulario .legend{
        font-size: 2rem;
    }

    .input {
        width: 35%;
        height: 1.6rem;
        margin: 0.5rem;
        border: 1px solid #000;
        padding: 0.5rem;
        resize: none;
    }

    .campo {
        width: 100%;
        margin-right: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .textarea {
        width: 35%;
        margin: 0.5rem;
        border: 1px solid #000;
        padding: 0.8rem;
        resize: none;
    }

    .form .btn{
        width: 90%;
        margin: 1rem;
    }

    /*! PANTALLA - NOSOTROS  */
    /** MENU */
    .menu-item{
        font-size: 0.7rem;
        text-align: center;
        white-space: nowrap;
        margin-right: 0.5rem;
    }

    /** NOSOTROS  */
    .nosotros-header .titulo{
        font-size: 2rem;
    }

    /** Contenedor Historia  */
    .contenedor-historia{
        height: 55vh;
    }

    .historia-texto{
        width: 80%;
        height: 100%;
    }

    .historia-texto .titulo{
        font-size: 1.4rem;
        text-align: center;
        padding: 0.4rem;
        margin: 0.4rem;
    }

    .historia-texto .fs-20{
        max-height: 100%;
        font-size: 0.9rem;
        padding: 0.3rem 1.3rem;
    }

    .historia-img, .staff-img, .valores-img{
        height: 55vh;
    }



    /** PROBLEMAS */
    .problemas-contenedor{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }

    .problemas-texto{
        width: 100%;
        height: 100%;
    }

    .enfrentamos .titulo{
        width: 100%;
        height: 100%;
        font-size: 1.2rem;
        text-align: center;
        white-space: wrap;
        padding: 0 1.5rem;
        margin: 0.5rem;
    }

    .problemas-texto .texto-oscuro{
        font-size: 1rem;
        padding: 0.3rem 1rem;
    }

    .problemas-texto i{
        font-size: 1.4rem;
        padding: 0.3rem;
    }

    .problemas-img{
        width: 0;
        height: 0;
        border-radius: 0;
        background-size: cover;
        background-position: center;
    }

    /** QUE ES LO QUE HACEMOS  */
    .hacemos .titulo{
        width: 100%;
        font-size: 1.2rem;
        text-align: center;
        padding: 0 1rem;
        margin: 0.5rem;
    }

    .hacemos-img{
        width: 0;
        height: 0;
        border-radius: 0;
        margin: 0;
    }

    .ayudar-contenedor{
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ayudar-texto{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40%;
    }

    .ayudar-texto .subtitulo{
        width: 100%;
        font-size: 1.1rem;
        padding: 1.3rem 0 0 1.3rem;
    }

    .ayudar-texto h2{
        width: 100%;
        padding: 0 1.3rem;
    }

    .ayudar-img{
        width: 100%;
        height: 30%;
    }

    .ayudar-botones{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30%;
        margin-bottom: 1rem;
    }

    .ayudar-botones a{
        width: 70%;
        margin: 1.1rem;
    }

    /*! NUESTROS PERROS */
    /** HEADER  */
    .contenedor-adopcion{
        width: 100%;
        height: 50vh;
    }

    .contenedor-adopcion .titulo{
        font-size: 2.5rem;
        padding: 1rem;
        text-align: center;
    }

    /** ADOPTAR  */
    .contenedor-adoptar{
        width: 100%;
        height: 120vh;
    }

    .adoptar-texto{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .adoptar-texto .titulo{
        font-size: 2rem;
        padding: 0.5rem 1.2rem;
        white-space: nowrap;
    }

    .adoptar-texto .fs-20{
        width: 100%;
        font-size: 1rem;
        padding: 1rem;
    }

    .adoptar-img{
        width: 0;
        padding: 0;
    }

    .btn-largo{
        width: 60%;
        font-size: 1rem;
        padding: .2rem;
        margin: .5rem 0 0 0;
    }

    /** ADOPCIÓN  */
    .adopcion{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-adopcion{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
    }

    .img-perro{
        border-radius: 1rem 1rem 0 0;
    }

    .card-adopcion .subtitulo{
        font-size: 1.5rem;
        padding: 1rem;
        text-align: center;
    }

    .card-adopcion .fs-20{
        width: 100%;
        font-size: 1rem;
        padding: .5rem 1rem;
    }

    .btn{
        width: 50%;
    }

    .paginas{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .paginas-item{
        font-size: 1rem;
        border-radius: 50%;
        padding: .5rem;
        margin: 0;
    }

    /** DONACIONES  */
    .donaciones-header{
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: left;
    }

    .donaciones-header .titulo{
        width: 100%;
        text-align: center;
        font-size: 1.3rem;
        position: relative;
        left: 2rem;
        position: relative;
        left: -3rem;
        top: 2rem;
        margin-left: 1rem;
    }

    .donacion-contenedor{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .texto-donar{
        text-align: center;
        width: 100%;
        height: 50%;
    }

    .donacion-contenedor .titulo{
        font-size: 2rem;
        padding:1rem 1.5rem;
        white-space: wrap;
    }

    .formas-donar{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 2rem;
    }

    .card-donar{
        width: 70%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .card-donar .subtitulo{
        text-align: center;
    }

    /**Footer  */
    .footer{
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-iconos{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .footer-iconos p{
        width: 100%;
        font-size: 1rem;
        padding: 1.2rem 1rem;
    }

    .footer .fs-20{
        width: 50%;
        font-size: 1rem;
        padding: 0;
        margin: 0;
    }

    .footer-item{
        width: 100%;
        margin: 0;
        font-size: 1rem;
        padding: 0;
    }

    .footer .footer-item{
        width: 100%;
        margin: 0;
        padding: 0;
    }
}